aenum>=2.1.2
flaky>=3.4.0
psutil>=5.4.8
parameterized>=0.6.1
nose-parameterized>=0.6.0
nose>=1.3.7
nose-html-reporting>=0.2.3
Pillow>=5.3.0
numpy>=1.15.4
opencv-python>=3.4.3.18
pytesseract>=0.2.5
flake8>=3.6.0
pylint>=1.9.4
selenium>=3.141.0
webdriver_manager==1.8
subprocess32>=3.5.3
requests>=2.21.0
pytz>=2018.9
Appium-Python-Client>=0.28
pyautogui==0.9.39
python-xlib==0.25
